@model IEnumerable<EnterpriseSystemsDevelopment_EPortfolio.Models.Template>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TutorLayout.cshtml";
}

<h1>My Portfolio</h1>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KsbType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KsbKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apprentice)
            </th>
            <th>
                Description
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KsbType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KsbKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apprentice.Email)
            </td>
            <td>
                @item.KsbKey.KsbDescription()
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.TemplateId">Edit</a>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.TemplateId">Evidence</a>
            </td>
        </tr>
}
    </tbody>
</table>
